:root {
    --clr-white: hsla(0, 0%, 100%, 1);
    --clr-deep-blue: hsla(212, 23%, 11%, 1);
    --clr-light-blue:hsla(208, 18%, 47%, 1);
    --clr-gray: #f5f5f5;
    --cle-dark-gray: rgba(85, 85, 85, 1);
    --clr-cta: hsla(140, 100%, 39%, 1);

    --clr-text-black: hsla(0, 0%, 0%, 1);
    --clr-text-white: hsla(0, 0%, 100%, 1);
    --clr-text-light-blue: rgba(79, 91, 100, 1);
 
}

/*

@font-face {
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/TTNorms-Light.woff2) format('woff2'),
       url(../fonts/TTNorms-Light.woff) format('woff'),
}

@font-face {
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/TTNorms-Regular.woff2) format('woff2'),
       url(../fonts/TTNorms-Regular.woff) format('woff'),
}

@font-face {
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/TTNorms-Medium.woff2) format('woff2'),
       url(../fonts/TTNorms-Medium.woff) format('woff'),
}

@font-face {
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/TTNorms-Bold.woff2) format('woff2'),
       url(../fonts/TTNorms-Bold.woff) format('woff'),
}

@font-face {
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/TTNorms-ExtraBold.woff2) format('woff2'),
       url(../fonts/TTNorms-ExtraBold.woff) format('woff'),
}

*/

/* Default Styles Reset */

* {
    padding: 0;
    margin: 0;
    font: inherit;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;

    font-family: 'TTNorms', sans-serif;
    font-size: 1rem; 
    font-weight: 300;
}

body {
    position: relative;
    overflow-x: hidden;
}


img,
picture,
svg {

    display: block;
    width: 100%;

}

a {
    text-decoration: none;
    color: var(--clr-text-black);
    transition: color .1s ease-in-out;
}


ul {
    list-style: none;
}

/* Typography */

h1, h2, h3, p {
    cursor: default;
}

h1 {
    font-size: 9px;
    text-align: left;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--cle-dark-gray);
    letter-spacing: -.2px;
    line-height: 150%;
}

h2 {
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: -2px;
}



h3 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -1px;
    text-transform: uppercase;
}

p {
    line-height: 150%;
    letter-spacing: -0.5px;
}

.h2-w-description {
    line-height: 32px;
}

.h2-description {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.3px;
}

.bold {
    font-weight: 600;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.no-margin {
    margin-bottom: 0 !important;
}

/* Background Colors */

.bg-grey {
    background-color: var(--clr-grey);
}

.bg-dark {
    background-color: var(--clr-deep-blue);
    color: var(--clr-text-white);
}

.bg-light {
    background-color: var(--clr-white)
}

/* Header */

header {
    padding: 100px 36px 100px 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.headline-logo {
    display: flex;
    flex-direction: column;
}

header .headline-logo img {
    width: 100%;
    margin-bottom: 10px;
}


header .headline-phones {
    margin: 0;
    margin-top: 50px;

    font-weight: 400;

    display: flex;
    flex-direction: column;
    gap: 10px;

    font-size: 28px;
}

.cta-btn {
    border: 1px solid var(--clr-text-black);
    border-radius: 10px;

    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.5px;
    margin-top: 50px;
    width: 240px; 
    text-align: center;
    padding: 18px 0;
}

/* MENU */

.menu {
    padding: 100px 36px 100px 36px;
    display: flex;
    justify-content: center;

    text-align: right;
    text-transform: uppercase;
}

.menu .content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.menu img {
    width: 240px;
}

.menu-heading {
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 150%;
}

.menu-description {
    font-size: 12px;
    line-height: 150%;
    font-weight: 500;
    letter-spacing: -.4px;
}

.menu ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu ul li {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.5px;
}

/* LUXURY */

.luxury {
    padding: 100px 43px 100px 43px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.luxury .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 274px;
    margin: 0 auto;
}

.headline p {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -1px;
}

.headline .headline-big-text {
    font-size: 72px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -5px;
    color: var(--clr-text-light-blue);
    line-height: 72px;
    margin-left: -4px;
}

.headline .text-right {
    margin-right: 21px;
}

.luxury ul {
    margin-top: -20px;

    display: flex;
    flex-direction: column;
    gap: 2px;
}

.luxury ul li {
    letter-spacing: -.3px;
    color: var(--clr-dark-gray);
}

/* BENEFIT */

.benefit {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.benefit .content {
    max-width: 260px;
    margin: 100px auto;
    margin-bottom: 100px;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.benefit-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.headline .yacht {
    font-size: 84px;
    margin-top: 10px;
    margin-left: -4px;
    margin-bottom: 100px;
}

/* BENEFIT WITH BUTTON */

.benefit-w-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.benefit-w-btn .content {
    display: flex;
    flex-direction: column;
    gap: 50px;

    max-width: 260px;
    margin: 100px auto;
    margin-bottom: 100px;
}

.benefit-w-btn h2 {
    font-size: 48px;
    line-height: 16px;
    margin: 0;
    margin-left: -3px;

    font-weight: 600;
}

.benefit-w-btn-heading {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.3px;
}

.btn-more {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -.5px;
    font-weight: 500;
    color: var(--clr-white);
    background: var(--clr-text-black);
    width: 211px;
    padding: 14px 50px;
    border-radius: 10px;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 184px;
    margin: 100px auto;
    margin-bottom: 100px;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
}

footer ul li {
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-logo p {
    font-size: 10px;
    line-height: 15px;
    text-transform: uppercase;
    font-weight: 400;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.footer-contacts a {
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    margin-left: -2px;
}

.social-links {
    margin-top: 8px;
}

.social-links ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    margin-top: 20px;
}

.social-links ul li a{
    margin: 0;
    padding: 0;
}

.social-links img {
    width: 38px;
}

/* MODEL */

.model-headline {
    padding: 0 0 50px 0;
    width: 200px;
    margin: 0 auto;
}

.model-name {
    font-size: 72px;
    font-weight: 300;
    letter-spacing: -4px;
    line-height: 64px;
}

.model-headline-bold {
    font-weight: 600;
}

.model-prename {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 4px;
    letter-spacing: -0.3px;
}

.model-postname {
    font-size: 20px;
    font-weight: 400;
    margin-top: 4px;
    letter-spacing: -1px;
}

.model-about {
    font-size: 16px;
    line-height: 24px;
    width: 300px;
    padding: 80px 0 50px 0;
    margin: 0 auto;
}

.model-equipment {
    width: 300px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.model-equipment-item {
    margin-top: 80px;
}

.model-equipment-item h3 {
    font-size: 15px;
}

.model-equipment ul {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.model-equipment ul li{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.model-equipment ul li p {
    max-width: 268px;
}

.model-equipment ul li img {
    width: 12px;
}

/* CATALOG */

.catalog-item {
    margin-top: 100px;
}

.catalog .catalog-item .model-headline {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.catalog .model-name {
    margin-left: -4px;
}

.catalog .model-prename {
    margin: 0;
}

/* YACHT */


.yacht .content .about {
    width: 260px;
    margin: 0 auto;
}

.yacht .content .about p{
    margin-bottom: 100px;
}

.yacht .content .about h3 {
    margin-top: 100px;
    margin-bottom: 20px;
}

.yacht .image {
    margin-bottom: 100px;
}





 
